# ==========================================
# Build & Output (Gradle y Kotlin)
# ==========================================
/build/
/.gradle/
/app/build/
*.apk
*.aab
*.keystore
*.jks

# ==========================================
# Android Studio / IDEs
# ==========================================
/.idea/
*.iml
.DS_Store
/captures/
/.externalNativeBuild/
/.cxx/
local.properties

# ==========================================
# Entorno Node.js & CI (act / Docker local)
# ==========================================
/node_modules/
/.act/
*.log

# ==========================================
# Variables de entorno y secretos
# ==========================================
.env
.env.local
secrets.json
google-services.json